
.imagen_centro{
    width: 100%;
    height: 25rem;
    background-position: 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .imagen_newYork{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/newYork2.png");
  }
  
  .imagen_manhattan{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/manhattan.jpg");
  }
  
  .imagen_brooklyn{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/brooklyn.jpg");
  }
  
  .imagen_queens{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/queens.jpg");
  }
  
  .imagen_stateIsland{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/stateIsland.jpg");
    background-position: bottom;
  }
  
  
  .imagen_bronx{
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ), url("../public/img/bronx.jpg");
    background-position: bottom;
  }
  
  
  .contenedor{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    /* border: 4px solid blue; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor h1{
    color: aliceblue;
  }
  
  .contenedor h2{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 90px;
  }
