.footer{
    background-color: aliceblue;
    color: #333;
    width: 100%;
    font-family: 'oswald', sans-serif;
    /* border: 2px solid green; */
    height: auto;
}

.contenedor{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 2fr;
    margin: 0 auto;
    width: 65%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    /* border: 2px solid blue; */
    gap: 1rem;
    height: auto;
}

.contenedor h2{
    color: black;
    text-transform: uppercase;
}

@media(max-width:800px){
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}


.contact{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    height: auto;
}

.contact p{
    color: #333;
}

.container_elements{
    display: flex;
}

.container_iconos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}

.icono{
    display: flex;
    /* background-color: green; */
    width: 35px;
    height: 35px;
    margin-right: 10px;
    
}


@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    color: #333;
    
}

.icono img{
        height: 10rem;
}

.icono h3{
        text-transform: uppercase;
}



.enlaces-footer{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.enlaces-footer a{
        color: #fff;
        font-size: 2rem;
}





.contenedor_mapa{
  
    width: 100%;
    margin: auto;
    
  }


  .container_derechos{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
  }

  .dia{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .dia p{
    margin: 0;
    padding: 0;
  }

  .dia span{
    font-weight: bold;
  }


  /* ------------------------------------------------------------------------------------------- */

  .logo {
    display: flex;
    flex-direction: row;
    /* background-color: #25D366; */
    height: 100%;
    width: fit-content;
    align-items: center; /* editar aqui */
  }

  .nombre_empresa {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 0;
  }
  
  .nombre_empresa h1 {
    margin-bottom: 0;
    padding-top: 0;
    font-family: 'oswald', sans-serif;
    /* font-size: 45px; */
  }
  
  .nombre_empresa p {
    text-align: center;
    margin: 0;
  }
  
  
  .caja_eslogan{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 10px;
    /* background-color: blue; */
  }

  .contenedor_pie{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor_pie p{
    padding: 0;
    margin: 0;
  }

