.header {
  background-color: transparent;
  height: auto;
  padding: 1rem;
  color: aliceblue;
  position: relative;
  /* background-color: #d1af85; */
}

.bg{
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 1px 4px 1px black;
}
.header_menu_mobile {
  background-color: black;
}
.logo {
  display: flex;
  flex-direction: row;
  /* background-color: #25D366; */
  height: 100%;
  width: fit-content;
  align-items: center; /* editar aqui */
}

.elementos {
  display: flex;
  width: 100%;
}

.nombre_empresa {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 0;
}

.nombre_empresa h1 {
  margin-bottom: 0;
  padding-top: 0;
  font-family: 'oswald', sans-serif;
  /* font-size: 45px; */
}

.nombre_empresa p {
  text-align: center;
  margin: 0;
}


.caja_eslogan{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  font-size: 20px;
  /* background-color: blue; */

}

.contenedor_icono{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icono{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  color: #25D366;
}


.header {
  position: fixed; /* hace que la barra quede fijada */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding: 0px 100px;
  z-index: 100000;
  opacity: 0.9;
}

.header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  position: relative;
  list-style: none;
}

.header ul li a {
  position: relative;
  margin: 1rem 1rem;
  text-decoration: none;

  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-weight: bold;
  text-transform: uppercase;
}

.header ul li a:hover {
  border-bottom: 5px solid #d1af85;
  transition: 0.2s;
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  background-size: cover;
}

.menuBurguer {
  display: none;
}

.nav__input:checked + .contenedorBarNav {
  display: flex;
  transition: 0.6s;
}

.nav__input {
  display: none;
}

@media (max-width: 800px) {
  .contenedorBurguer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 2rem;
  }

  .contenedorBarNav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .barraNavegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .barraNavegacion ul {
    padding: 0;
  }
  .elementos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }
  .elementos li {
    margin: 2.5rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: absolute;

  }

  .header_menu_mobile {
    opacity: 1;
  }

  .logo {
    width: max-content;
  }

  .menuBurguer {
    display: block;
    width: 40px;
    height: 40px;
  }
}
