
.fondo {

  height: 100vh;
  width: 100%;
}

.banner1{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0)
    ),
    url("../public/img/banner1.jpg");
    background-size: cover;
    position: absolute;
    align-items: center;
}

.banner2{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0)
    ),
    url("../public/img/banner2.jpg");
    background-size: cover;
    position: absolute;
    align-items: center;
}

.banner3{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0)
    ),
    url("../public/img/banner3.webp");
    background-size: cover;
    background-position: 50%;
    position: absolute;
    align-items: center;
}

.centrar{
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: center;
  
}

.fondo > div{
  position: unset;
}

.contenedor_titulos{
  display: flex;
  flex-direction: column;
  font-family: var(--fuente-We-Can-Do);
  color: aliceblue;
  font-weight: bold;
  
  text-align: center;
  padding: 1rem;
}
.contenedor_titulos :nth-child(2){
  padding-left: 5rem;
  font-size: 1.6rem;
}



.contenedor_central{
  display: flex;
  position: absolute;
  background: rgb(0 0 0 / 0.5);
  height: auto;
  width: 80%;
  padding: 2rem;
  border-radius: 15px;
}

@media (max-width:800px){
  .contenedor_titulos h1{
    font-size: x-large;
  }

  .contenedor_titulos :nth-child(2){
    padding-left: 1rem;
    font-size: medium;
  }
  
  .contenedor_central{
    display: flex;
    background-image: none;
  }

  .fondo{
    height: 100vh;
  }
  
}

/* ----------------------------------------------------------------------------------------------------- */

.contenedor_servicios_renovacion {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  font-family: 'oswald', sans-serif;
  /* background-color: red; */
}

.contenedor_servicios_renovacion h1{
  color: #C2965F;
}

.contenedor_servicios_construccion {
  background-image: 
    url("../public/img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  font-family: 'oswald', sans-serif;
}


.contenedor_servicios_construccion h1{
  color: #C2965F;
}

.contenedor_servicios_electrical {
  background-image: 
    url("../public/img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.contenedor_servicios_electrical h1{
  color: #C2965F;
}

.titulo_pagina h1{
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
}

.barra{
  display: flex;
  justify-content: center;
}

.barra h1{
  
  width: fit-content;
  border-bottom: 5px solid var(--titulos);
  padding: 2rem;
  padding-bottom: .5rem;
  
}

.border{
  display: flex;
  margin: 0 auto;
  border-bottom: 2px solid black;
  width: 50%;
  margin-bottom: 2rem;
  
}


.contenedor_renovaciones {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
  width: 100%;
  justify-content: center;
  /* background-color: #4848CD; */
}
.titulo_renovaciones{
  display: flex;
  width: 100%;
  justify-content: center;
}

.contenedor_construccion {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
 /*  background-color: #1c1c1c; */
  width: 100%;
  justify-content: center;

  
}
.titulo_construccion{
  display: flex;
  /* color: aliceblue; */
  width: 100%;
  justify-content: center;
  /* background-color: #1c1c1c; */
}

.descripcion {

  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.descripcion p{
  text-align: justify;
  margin: 1rem 1rem;
  color: var(--titulos);
  
  line-height: 1.5;
  color: darkgrey;
}

.descripcion h2{
  text-align: center;

 
}


.contenedor_boton {
  margin-bottom: 3rem;
}

.btn{
  background: none;
  border: 2px solid;
  padding: 0.8rem 2rem;
  transition: 0.40s;
  text-decoration: none;
  cursor: pointer;
}
.btn_up{
  color: #fafafa;
  font-weight: bold;
}

.btn_up:hover, .btn_up:focus{
  border-color: #d1af85;
  color: #F3F3F3;
  box-shadow: inset 0 -3.50em 0 0 #d1af85;
}



.btn_up_beige{
  color: #d1af85;
  font-weight: bold;
}

.btn_up_beige:hover, .btn_up_beige:focus{
  border-color: #d1af85;
  color: #F3F3F3;
  box-shadow: inset 0 -3.50em 0 0 #d1af85;
}

.contenido_imagen{
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: #fafafa;
  text-transform: uppercase;
}

.seccion:hover .contenido_imagen{
  opacity: 1;
}

.boton_dentro_de_imagen{
  background-color: gold;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
  font-size: .9rem;
  animation: pulse 1.5s infinite;
  /* clip-path: polygon(100% 0, 100% 58%, 99% 87%, 87% 100%, 0 100%, 0 15%, 14% 0); */
}

@keyframes pulse{
  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }

  70%{
    transform: scale(.99);
    box-shadow: 0 0 0 25px rgba(256, 256, 256, .1);
  }

  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }
}

.tarjetas{
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 10px;
  /* background-color: #C2965F; */
  align-items: center;
}


.fondo3{
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ),
    url("../public/img/fondo3.jpg");
  background-size: cover;
  background-position: 50%;
  /* padding: 5rem 0; */
  height: auto;
  background-attachment: fixed;
  font-family: 'oswald', sans-serif;
}



.contenedor_fondo3{
  width: 75%;
  height: 100%;
  /* background-color: green; */

}

.contenedor_fondo3 h2{
  text-align: center;
  font-size: 2rem;
  color: var(--titulos);
  /* background-color: black; */
  padding: 2rem;
  
}

.lado1{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.lado1 p{
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;

}

.lado2{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../public/img/handyman2.png');
  background-size: cover;

}


.fondo4{
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ),
    url("../public/img/fondo4.jpg");
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
  height: 45rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


@media(max-width:768px){
  .contenedor_bloqueTresImagenes:nth-child(2){
  display: none;
}

.contenedor_bloqueTresImagenes:nth-child(3){
  display: none;
}
}

@media (max-width:800px){
  .contenedor_renovaciones{
    flex-direction: column;
  }
}

@media (max-width:800px){
  .contenedor_construccion{
    flex-direction: column;
  }
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.division{
  display: grid;
  grid-template-columns:  1fr 1fr;
  font-family: 'oswald', sans;
  height: 35rem;
  
}


.fondo_roofing{
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0.6)
    ),
    url("../public/img/Handyman.png");
  background-size: cover;
}

.fondo_roofing h1{
  color: var(--titulos);
  text-transform: uppercase;
  text-align: center;
}

.handymanContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.barra{
  width: 80%;
  border-bottom: 2px solid aliceblue;
  margin-bottom: 3rem;
}

@media(max-width:800px){
  .fondo_roofing{
    display: none;
  }

  .division{
    grid-template-columns: 1fr 1fr;
  }
}

.techo_roofing{
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.5),
      rgb(0 0 0 / 0.5)
    ),
    url("../public/img/techo_roofing.jpg");
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
  height: 35rem;
  
}


.contenido{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 3rem;
  
}

.contenido p{
  display: flex;
  flex-direction: column;
  width: 70%;
  color: aliceblue;
}

.contenido span{
  color: var(--titulos);
}

.contenido h1{
  color: aliceblue;
  margin-bottom: 0;
  padding: 0;
}

.contenido h2{
  color: aliceblue;
  margin-bottom: 0;
  padding: 0;
  color: var(--titulos);
}

.example{
  background-color: green;
  width: 100%;
  height: 50%;
}

@media(max-width:800px){
  .contenedor_proyectos_destacados{
    width: 80%;
  }
}

.cliente{
  color: #eaeaea;
}

.contenedor_iconos{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 70%;
  justify-content: center;
  gap: 5rem;
}

@media(max-width:800px){
  .contenedor_iconos{
    width: 90%;
  }
}

.contenedor_iconos p{
  text-align: center;
}


.contenedor_membresias{
  
  width: 80%;
  height: 70%;
  margin: 0 auto;
  color: aliceblue;
  margin-top: 10rem;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    )
}


.dividir{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.membresias_lado1{
  display: flex;
}



.panel{
  position: absolute;
  width: 50%;
  margin: 20rem auto;
  /* background-color: #fff;*/
  border: 1px solid transparent;
  background-image: linear-gradient(#4848CD, #4848CD),
                  linear-gradient(#4848CD, #4848CD),
                  linear-gradient(#4848CD, #4848CD),
                  linear-gradient(#4848CD, #4848CD);           
  background-repeat: no-repeat;
  background-size: 10px 80%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 4px 4px;
 /*  padding: 10px; */
  height: 400px;
}


.inside{
  margin:10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: transparent;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.container{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  /* background-color: green; */
  color: aliceblue;
  margin: auto;
  font-family: 'oswald', sans-serif;
  
}

.container h1{
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}



.container_menbresias{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  justify-items: center;
}

.container_menbresias li{
  text-transform: lowercase;
  list-style: none;
}

.bronze{
  text-transform: uppercase;
  text-align: center;
}

.silver{
  text-transform: uppercase;
  text-align: center;
}

.gold{
  text-transform: uppercase;
  text-align: center;
}


.container_boton{
  width: fit-content;
  height: auto;
  margin: auto;
 
}

.bronze img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .5s;
  color: var(--titulos);
  
}

.silver img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .5s;
  color: var(--titulos);
}

.gold img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .5s;
  color: var(--titulos);
}


.container_opciones{
  display: flex;

}

.iconos{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: var(--titulos);
  
}









/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */