

.contenedor_our_services{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* background-color: #dadada2d; */
    margin: auto;
    text-align: center;
    font-family: 'oswald', sans-serif;
    /* background-image: linear-gradient(
        to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)),
    url('../public/img/fondo_cocina.jpg'); */
    background-size: cover;
    background-position: center;
    color: aliceblue;
    justify-content: center;
}

.contenedor_our_services h1{
    color: var(--titulos);
    text-transform: uppercase;
}

.contenedor_our_services h2{
    /* margin-top: 3rem; */
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------------------------------- */


.titulo_pagina{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    /* background-color: blue; */
  }

  .titulo_pagina h1{
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
  }

  .barra{
    display: flex;
    justify-content: center;
  }
  
  .barra h1{
    
    width: fit-content;
    border-bottom: 5px solid var(--titulos);
    padding: 2rem;
  padding-bottom: .5rem;
    
  }


/* ----------------------------------------------------------------------------------------------- */
.contenedor_iconos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    gap: 5rem;
    color: black;
    margin-top: 5rem;
    
}


.icono{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.container_icono:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: .5s;
    color: var(--titulos);
}






