@import url(https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap);

.fondo_team{
    background-image: linear-gradient(
        to right,
        rgb(0 0 0 / 0.6),
        rgb(0 0 0 / 0.6)
      ),
      url("../public/img/team.jpg");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding: 5rem 0;
  height: 40rem;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  padding: 6rem;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
}

.titulo span {
  color: var(--titulos);
}



/* ------------------------------------------------------------------------------------ */


.contenedor_teamWork{
    margin-top: 5rem;
    /* font-family: "Gemunu"; */
}

.contenedor_teamWork h1{
    margin-bottom: 5rem;
    color: var(--titulos);
}

.divisor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    /* font-family: 'Gemunu Libre', sans-serif; */
    align-items: center;
}

@media (max-width:768px){
    .divisor{
        display: flex;
        flex-direction: column;
    }

    .tarjeta{
        width: 100%;
        background-color: green;
    }
}

.tarjeta{
    background-color: #dadada2d;
    
}


.tarjeta h2{
    text-align: center;
    margin: 0;
}

.tarjeta p{
    text-align: center;
    margin-top: .5rem;

}

.contenedor_descripcion{
  
    height: 10rem;
    padding-top: 2rem;
}

.contenedor_descripcion h2{
   /*  font-family: "Gemunu"; */
    color: var(--titulos);
}


.contenedor_iconos{
    
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 1rem;
    padding-top: 1rem;
}

.icono{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.facebook:hover{
    width: 35px;
    height: 35px;
    color: #0B75D3;
    transition: .5s;
}


.instagram:hover{
    width: 35px;
    height: 35px;
    color: #D108DB;
    transition: .5s;
}

.twitter:hover{
    width: 35px;
    height: 35px;
    color: #099BDF;
    transition: .5s;
}

